.header {
    height: 96px;
    width:100%;
    background-color: var(--color-base);

    .headerBlock {
        position: relative;
        height: 100%;
        width: 100%;

        .logo {
            height: 100%;
            width: 100%;
        }

        .headerInput {
            color: red;
            // background-color: blue;
        }
    }
}