:root {
	// base
	--font-family: 'Fira sans', sans-serif;
	--content-width: 1230px;
	--container-offset: 15px;

	// colors
  --color-base: rgb(8 10 26);
	--color-secondary: rgb(11 15 41);
	--color-btn-active: rgb(224, 213, 213);
	--color-border: rgba(31, 41, 55, 0.6);
	--color-white: #fff;
	--color-black: #000;
	--color-red: #f00;
	--color-orange: #ea580c;
	--color-green: #00a340;
	--color-dark: #141414;
	--color-light-dark: #1f1f1f;
	--color-primary: #005382;
	--color-dark-primary: #003f63;
}